body {
    font-family: monospace;
    background-color: #4C3A51;
}
h1 {
    color: #E7AB79;
    font-size: 30px;
}
button {
   display: inline-block;
   outline: none;
   cursor: pointer;
   border-radius: 3px;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
   padding: 2px 16px;
   height: 32px;
   min-width: 60px;
   min-height: 32px;
   border: none;
   color: #fff;
   background-color: #BE5A83;
   transition: background-color .17s ease,color .17s ease;

}
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#content h1 {
    color: #E7AB79;
    font-size: 25px;
}
#container {
    font-size: 20px;
}
.row{
   display:flex;
   align-items:center;
}
.thumb{
   width:100%;
}
.rowLabel{
   flex:2 1 0;
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
}
.sampleContainer{
   flex:1 1 0;
   background-color:white;
   text-align:center;
   border-radius:10%;
   margin:1px;
   overflow:hidden;
}
.blur{
   filter:blur(5px);
}

.emphasize{
   background-color:yellow;
}

#container{
   width:calc(100% - 500px);
}

#chartContainer{
   position:fixed;
   right:0;
   top:50%;
   transform:translate(0,-50%);
}

#inputContainer{
   position:fixed;
   right:500px;
   top:50%;
   transform:translate(0,-50%);
   text-align:center;
   margin:10px;
}

#controlPanel{
   position:fixed;
   right:0;
   top:0;
   width:500px;
   text-align:center;
   padding:10px;
}

#predictedLabelContainer{
   font-weight: bold;
   color:white;
   font-size:30px;
   position:relative;
   border-style: solid;
   background-color: #4C3A51;
}